.container{
    margin-top: 25px;
    text-align: center;
}

.question{
    margin-top: 30px;
}

.question p:hover{
    background-color: rgba(0,255,0, .3);
}
.questionDisplay{
    margin: 20px;
    border-top: 2px solid black;
}